.button {
  @extend %media-control-element;
  padding: 0.75rem;
  color: $color-font-button;
  background-color: $color-primary;
  border-radius: $border-radius-button;
  border: none;
  transition: $delay*2;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-hover;
  }

  &--accent {
    background-color: $color-accent;

    &:hover {
      background-color: $color-accent-hover;
    }
  }

  &--disable {

  }

  &--special {
    color: $color-accent;
    background-color: $color-background-element;
    border: 2px solid $color-accent;

    &:hover {
      color: $color-background-element;
      background-color: $color-accent;
    }
  }
}
