.menu__list {
  padding: 0;
  display: flex;
  list-style: none;
  transition: $delay*2;
}

.menu__item {
  margin-left: $indent*0.5;
  display: flex;
  align-items: center;
  transition: $delay*2;
  cursor: default;

  &--minor {
    @include media-sm {
      display: none;
    }
  }

  &--active {
    cursor: pointer;

    &:hover {
      @extend %basket-icon-hover;
      .menu__title {
        color: $color-font-link-hover;
      }
    }
  }
}

.menu__title {
  @include font($font-family-base, map-get($font-size, m));
  margin-left: $indent*0.125;
  display: flex;
  align-items: center;
  color: $color-font-link;
  transition: $delay*2;

  @include media-2sm {
    display: none;
  }
}

.menu__count {
  @include font($font-family-base, map-get($font-size, xs));
  // @include square-size(2rem);
  margin-left: $indent*0.125;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-font-regular-light;
  background-color: $color-primary;
  // border-radius: 50%;
  border: 0.2rem solid #ffffff;

  //
  padding: 5px;
  min-width: 15rem;
}
