.multi-range {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.multi-range__header {
  @extend %filter-header;
}

.multi-range__fields {
  width: 100%;
  display: flex;
  margin-bottom: $indent*0.5;
}

.multi-range__separator {
  @include font($font-family-base, map-get($font-size, l));
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multi-range__value {
  @include font($font-family-base, map-get($font-size, s));
  height: 2.5rem;
  width: 100%;
  text-align: center;
  color: $color-font-input;
  border: 1px solid $color-border-input;
  border-radius: $border-radius-element;
  outline: none;
  cursor: pointer;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.multi-range__slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.multi-range__progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 0.5rem;
  background: $color-primary;
}

.multi-range__ranges {
  position: relative;
}

.multi-range__range {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  top: -0.5rem;
  background: none;
  cursor: pointer;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: $color-primary;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-webkit-slider-thumb {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: $color-primary;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
