.ordering {
  width: 650px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: $delay*2;
  z-index: 50;

  @include media-md {
    width: 70%;
    margin-top: $indent;
  }

  @include media-md {
    width: 80%;
  }

  @include media-2sm {
    width: 90%;
  }
}

.ordering__container {
  padding: $indent;
  background-color: $color-background-modal;
  border-radius: $border-radius-layout;
  transition: $delay*2;

  @include media-sm {
    padding: $indent*0.5;
  }
}

.ordering__header {
  @include font($font-family-base, map-get($font-size, l), 100%, bold);
  margin: $indent*0.5 0 $indent 0;
  color: $color-font-regular-dark;
  text-align: center;
  transition: $delay*2;

  @include media-sm {
    font-size: map-get($font-size, m);
  }
}

.ordering__form {
  margin: 0;
  display: flex;
  gap: $indent;
  justify-content: flex-start;

  @include media-md {
    flex-direction: column;
  }
}

.ordering__form-column {
  display: flex;
  flex-direction: column;
  gap: $indent*0.25;
  width: 47%;
  transition: $delay*2;

  @include media-md {
    width: 100%;
  }
}

.ordering__form-line {
  display: flex;
  flex-direction: column;
}

.ordering__form-label {
  @extend %subheader;

  &--hidden {
    visibility: hidden;
  }
}

.ordering__form-input {
  @include font($font-family-base, map-get($font-size, m));
  @extend %border-element;
  height: 4rem;
  width: 100%;
  padding: $indent*0.25;
  transition: $delay*2;
  cursor: pointer;

  @include media-md {
    font-size: map-get($font-size, s);
  }
}

.ordering__form-card-number {
  display: flex;
  flex-direction: column;
  position: relative;
}

.ordering__form-image {
  width: 6rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $indent*0.25;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 $border-radius-element $border-radius-element 0;
}

.ordering__form-error {
  @include font($font-family-base, map-get($font-size, xs), 100%, normal);
  margin: 0;
  padding-top: $indent*0.125;
  color: $color-error;
  text-align: center;
  visibility: hidden;
  cursor: default;

  &--active {
    visibility: visible;
  }
}

.ordering__button {
  height: 4rem;
  width: 100%;
}
