.pagination {
  width: $content-max-width;
  display: flex;
  justify-content: flex-start;
  padding: $indent*0.5 0;
  gap: $indent;
  transition: $delay*2;

  @include media-xl {
    width: 100%;
  }
}

.pagination__column {
  display: flex;
  flex-direction: column;
  transition: $delay*2;

  &--end {
    align-items: end;
  }
}

.pagination__title {
  @extend %filter-header;
}

.pagination__input {
  @include font($font-family-base, map-get($font-size, m));
  @extend %filter-border;
  height: 4rem;
  width: 8rem;
  padding: $indent*0.25;
  cursor: pointer;
}

.pagination__container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: $indent*0.25;
}

.pagination__page {
  @include font($font-family-base, map-get($font-size, m), 100%);
  transition: $delay*2;
  cursor: default;
}

.pagination__button {
  @include font($font-family-base, map-get($font-size, m), 100%, bold);
  @include square-size(3.6rem);
}
