.pagination {
  width: 66%;
  padding: $indent*0.5 0;
  display: flex;
  justify-content: space-between;
  gap: $indent;

  @include media-md {
    order: 2;
    width: 100%;
    padding: 0;
  }
}

.pagination__column {
  display: flex;
  flex-direction: column;
  transition: $delay*2;

  &--end {
    align-items: end;
  }
}

.pagination__title {
  @extend %subheader;
}

.pagination__input {
  @include font($font-family-base, map-get($font-size, m));
  @extend %border-element;
  height: 4rem;
  width: 8rem;
  padding: $indent*0.25;
  cursor: pointer;
}

.pagination__container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: $indent*0.25;
}

.pagination__page {
  all: unset;
  max-width: 30px;
  text-align: center;
  @include font($font-family-base, map-get($font-size, m), 100%);
  transition: $delay*2;
  cursor: default;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

.pagination__button {
  @include font($font-family-base, map-get($font-size, m), 100%, bold);
  @include square-size(3.6rem);

  &:disabled {
    opacity: .7;
  }
}
