.search {
  width: 100%;
  margin: $indent*0.5 0;
  display: flex;
  flex-direction: column;
}

.search__header {
  @extend %subheader;

  @include media-sm {
    display: none;
  }
}

.search__container {
  display: flex;
  justify-content: space-between;

  @include media-2sm {
    flex-direction: column;
    gap: $indent*0.5;
  }
}

.search__input {
  @extend %media-control-element;
  @extend %border-element;
  width: 66%;
  padding: $indent*0.25;
  cursor: pointer;

  @include media-md {
    width: 47%;
  }

  @include media-2sm {
    width: 100%;
  }
}

.search__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;

  @include media-md {
    width: 47%;
  }

  @include media-2sm {
    width: 100%;
  }
}

.search__button-search {
  @extend %media-control-element;
  width: 75%;
}

.search__button-copy {
  width: 20%;
}
