<div class="wrapper">
  <div class="header__main">
    <div class="logo">
      <a href="/" data-local-link>
        <img class="logo__image" src="../../../assets/icons/logo.svg" alt="Автосеть — логотип">
      </a>

    </div>
    <div class="menu">
      <ul class="menu__list">
        <li id="addresses" class="menu__item menu__item--not-allowed menu__item--minor">
          <span class="icon icon--map"></span>
          <span class="menu__title">Адреса магазинов</span>
        </li>
        <li class="menu__item menu__item--not-allowed menu__item--minor">
          <span class="icon icon--phone"></span>
          <span class="menu__title">686-86-86</span>
        </li>
        <li class="menu__item">
          <span class="icon icon--basket"></span>
          <!--<span class="menu__title">Корзина</span>-->
          <a href="/cart" class="menu__title" data-local-link>Корзина</a>
          <span id="basketCount" class="menu__count">2шт./18000руб.</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<nav class="navigation">
  <ul class="navigation__list">
    <li id="tires" class="navigation__item">
      <span class="icon icon--tire"></span>
      <!--<span class="navigation__title">Шины</span>-->
      <a href="/catalog" class="navigation__title" data-local-link>Шины</a>
    </li>
    <li class="navigation__item navigation__item--not-allowed">
      <span class="icon icon--rim"></span>
      <span class="navigation__title">Колеса</span>
    </li>
    <li class="navigation__item navigation__item--not-allowed">
      <span class="icon icon--service"></span>
      <span class="navigation__title">Сервис</span>
    </li>
  </ul>
</nav>
