<section class="catalog">
  <div class="catalog__info">
    <img class="catalog__image" src="../../../assets/icons/card-view.svg" alt="Change view style">
    <div class="catalog__select select">
      <select id="sortSelect" class="select__select">
        <option hidden>Сортировка</option>
        <option value="alphabetAsc" class="select__option">Алфавит ▲</option>
        <option value="alphabetDesc" class="select__option">Алфавит ▼</option>
        <option value="ratingAsc" class="select__option">Рейтинг ▲</option>
        <option value="ratingDesc" class="select__option">Рейтинг ▼</option>
        <option value="priceAsc" class="select__option">Цена ▲</option>
        <option value="priceDesc" class="select__option">Цена ▼</option>
      </select>
    </div>
  </div>
  <p class="catalog__title">Найдено: <span class="catalog__count">101</span></p>
  <div class="catalog__container"></div>
</section>
