<div class="footer__container">
  <div class="wrapper">
    <nav class="footer-navigation">
      <div class="footer-navigation__column">
        <h3 class="footer__header">Шины</h3>
        <ul class="footer-navigation__list">
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Летние шины</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Зимние шины</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Всесезонные шины</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Грузовые шины</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Подбор шин для авто</a>
          </li>
        </ul>
      </div>
      <div class="footer-navigation__column">
        <h3 class="footer__header">Диски</h3>
        <ul class="footer-navigation__list">
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Литые диски</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Штампованные диски</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Грузовые диски</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Подбор дисков для авто</a>
          </li>
        </ul>
      </div>
      <div class="footer-navigation__column">
        <h3 class="footer__header">Все о шинах</h3>
        <ul class="footer-navigation__list">
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Видеоблог</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Тесты шин</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Шинный калькулятор</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Полезно знать</a>
          </li>
        </ul>
      </div>
      <div class="footer-navigation__column">
        <h3 class="footer__header">Покупателю</h3>
        <ul class="footer-navigation__list">
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Акции</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Доставка и оплата</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Гарантия</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Рассрочка</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#" class="footer-navigation__link">Новости</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="footer-info footer__line">
      <p class="footer-info__text">Заказы по электронной почте и через сайт принимаются круглосуточно. Электронная
        почта <a class="footer-info__link" href="mailto:order@autoset.by">order@autoset.by</a>
      </p>
      <p class="footer-info__text">Режим работы и обработки заказов
        <b class="footer-info__text--bold">08.30 - 19.00 (Пн - Сб), 10.00 - 16.00 (Вс)</b>
      </p>
    </div>
    <div class="footer-contacts">
      <div class="footer-pay">
        <h3 class="footer__header">Мы принимает к оплате</h3>
        <ul class="footer-pay__list">
          <li class="footer-pay__item">
            <img class="footer-pay__image" src="../../../assets/icons/pay/mastercard-securecode.png" alt="Mastercard securecode">
          </li>
          <li class="footer-pay__item">
            <img class="footer-pay__image" src="../../../assets/icons/pay/belcard.png" alt="Belcard">
          </li>
          <li class="footer-pay__item">
            <img class="footer-pay__image" src="../../../assets/icons/pay/visa.png" alt="Visa">
          </li>
          <li class="footer-pay__item">
            <img class="footer-pay__image" src="../../../assets/icons/pay/mastercard.png" alt="Mastercard">
          </li>
          <li class="footer-pay__item">
            <img class="footer-pay__image" src="../../../assets/icons/pay/belcard-int.png" alt="Belcard">
          </li>
        </ul>
      </div>
      <div class="footer-socials">
        <h3 class="footer__header">Следи за нами</h3>
        <ul class="footer-socials__list">
          <li class="footer-socials__item">
            <img class="footer-socials__image" src="../../../assets/icons/social/instagram.svg" alt="Instagram">
          </li>
          <li class="footer-socials__item">
            <img class="footer-socials__image" src="../../../assets/icons/social/facebook.svg" alt="Facebook">
          </li>
          <li class="footer-socials__item">
            <img class="footer-socials__image" src="../../../assets/icons/social/youtube.svg" alt="Youtube">
          </li>
          <li class="footer-socials__item">
            <img class="footer-socials__image" src="../../../assets/icons/social/vkontakte.svg" alt="Vkontakte">
          </li>
          <li class="footer-socials__item">
            <img class="footer-socials__image" src="../../../assets/icons/social/odnoklasniki.svg" alt="Odnoklassniki">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="rsschool">
  <a class="rsschool__link" href="https://github.com/novidin" title="@novidin">
    <span class="icon icon--github"></span>
  </a>
  <a class="rsschool__link" href="https://rs.school/js/" title="RS School JS Course (Frontend/JavaScript)">
    <span class="icon icon--rsschool"></span>
  </a>
  <a class="rsschool__link" href="https://github.com/ablbsk" title="@ablbsk">
    <span class="icon icon--github"></span>
  </a>
</div>
