*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
  font-size: 10px;
}

//addeв display: flex; flex-direction: column; for stretching main to full height

body {
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-background-page;
}

main {
  flex-grow: 1;
}

.body--fixed {
  overflow:hidden;
  height: 100vh;
}

h1 {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

@include media-sm {
  ::-webkit-scrollbar {
    width: 0;
  }
}
