*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
  font-size: 10px;
}

body {
  min-width: 320px;
  background-color: $color-background-page;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

@include media-sm {
  ::-webkit-scrollbar {
    width: 0;
  }
}
